/* Titre principale */
h1 {
    background-color: rgb(0, 57, 138);
    font-size: 2.5rem;
    text-align: left;
    color: #ffffff;
    padding-left: 35px;
    margin: 0;
    margin-bottom: 15px;
}

/* Reglages body */
body {
    background-color: rgb(82, 154, 213);
    margin: 0;
}

/* Les differenst onglets COMPARER PAR_ANNEES PROFILE */
a {
    background-color: rgb(0, 57, 138);
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
    border-radius: 5px;
}

/* Texte de bienvenue au debut de la page */
.presentation {
    font-size: 1.2rem;
    background-color: rgb(0, 58, 138);
    color: white;
    padding-left: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
}

/* Barre de recherche principale */
.search_bar {
    width: 600px;
    height: 40px;
    font-size: 25px;
    display: block;
    margin: 0 auto 15px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    border-radius: 15px;
}

/* Reglages sur JUSTE le placeholder du search_bar */
.search_bar::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Rajout d'un espace avant les noms des onglets  */
.rajout_espace {
    padding-left: 12px;
    padding-right: 12px;
}

/* Reglages du bouton ENVOYEZ */
.bouton {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    display: center;
    margin: 15px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    position: relative;
    left: 1138px;
}

#section {
    display: inline-block;
    padding-top: 1px;
    color: blue;
}